* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/a43711df-c428-4f88-8bb3-b2ac5f20608f/32935458-d049-44c2-b94b-32f16d60ded1/IN-en-20230227-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#logo {
    height: 60px;
}

#lang_icon {
    width: 25px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    font-style: none;
    justify-content: space-between;

}

ul>li {
    list-style: none;

}